
  <h1>{{ collection.title }}</h1>
  {% for product in collection.products %}
    <div>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      {{ product.price | money }}
     
    </div>
  {% else %}
    <p>no matches</p>
  {% endfor %}
  